page-home {
#googlebtn{
  background-color: red;
}

  #fbbtn{
    color: blue;
    background-color: dodgerblue;
  }
  #login{
    background-color: white;
    color: black;

  }

  #logo{
    font-size: 30px;
    margin-top: 80px;
  }
  ion-input {
    margin: 10px 0 20px 0;
  }


}

